{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "loadable-components/babel",
    "syntax-dynamic-import",

    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
